# Question 1

In [4]:
# subtraction complex no 
a=complex(input("Enter  the complex no "))
b=complex(input("Enter the another complex no"))
c=a-b
print(c)

Enter  the complex no 2+3j
Enter the another complex no2+4j
-1j

# Question 2

In [6]:
# forth root of a no 
a=int(input("Enter the no to find forth root of no :"))
print("forth root of no is : ",a**(1/4) )

Enter the no to find forth root of no81
forth root of no is :  3.0

# Question 3

In [8]:
# value swap using one extra variable
a=int(input("Enter the no a = "))
b=int(input("Enter the no b = "))
c=a
a=b
b=c
print("value of a = ",a)
print("value of b = ",b)

Enter the no a = 12
Enter the no b = 15
value of a =  15
value of b =  12

# Question 4

In [9]:
# value swap
a = int(input("Enter the no a = "))
b = int(input("Enter the no b = "))
a,b=b,a
print("value of a = ",a)
print("value of b = ",b)

Enter the no a = 12
Enter the no b = 13
value of a =  13
value of b =  12

# Question 5

In [10]:
#  convert fahrenheit to kelvin and celsius both
f=int(input("enter the temp in fahrenheit : "))
c=(5/9)*(f-32)
k=c+273.15
print("temp in celsius : ",c)
print("temp in kelvin : ",k)

enter the temp in fahrenheit : 40
temp in celsius :  4.444444444444445
temp in kelvin :  277.59444444444443

# Question 6

In [12]:
a= 12
print("type of a is ",type(a))
b=12.0545
print("type of b is ",type(b))
c=True
print("type of c is ",type(c))
d= [1,2,3]
print("type of d is ",type(d))
e=(1,2)
print("type of e is ",type(e))
f={1:2,3:4}
print("type of f is ",type(f))
g="lkjhgfds"
print("type of g is ",type(g))
h={1,2,3}
print("type of h is ",type(h))

type of a is  <class 'int'>
type of b is  <class 'float'>
type of c is  <class 'bool'>
type of d is  <class 'list'>
type of e is  <class 'tuple'>
type of f is  <class 'dict'>
type of g is  <class 'str'>
type of h is  <class 'set'>

# Question 7

## create Github profile and upload Githubs Assignment link steps 

*  first create your account on Github
*  click on new Repositories
*  then create new Repositories name Letsupgrade-Ai-Ml 
*  be aware that the  Repositories should public
*  then create your assignment folder on your pc 
*  drag the folder and drop in your Repositories
*  open folder and copy the link from search bar 
*  fill the google form that provide by LU team & paste the link 
*  press submit button
*  for confirmation mail will send by LU team for assignment submission