# Question 1
 ## Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [ ]:
g = input("Enter the gmail")
a=g.find("@")
if (a!= -1):
    print(g[a+1:g.find(".")])
else :
    print("please enter the gmail id ")

Enter the gmailjohn@letsupgrade.com
letsupgrade

# Question 2

## Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [ ]:
import functools
s=input("Enter the String : ")
a=s.split(",")
a.sort()
print(functools.reduce(lambda c,b:c+", "+b,a))

Enter the String : maheshwari,ayush,jain,himanshu
ayush, himanshu, jain, maheshwari

# QUESTION 3

## Create your own Jupyter Notebook for Sets.

In [13]:
a={1,2,3,4,5}
print(a)
a.add(6)
a

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 6}

In [22]:
a={1,2,3,4,5,6}
b={2,3,4}
c={7,8,9}
print(a)
print(a.pop()) # remove last value of sets 
print(a)

{1, 2, 3, 4, 5, 6}
1
{2, 3, 4, 5, 6}

we can also use union operater & and union function of set for union

In [16]:
# union operater 
print(a.union(c))
a | c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

for intersection operater or intersection function

In [17]:
print(a.intersection(b))
a & b

{2, 3, 4}

{2, 3, 4}

In [6]:
b.issubset(a) # to check wheter it is subset of other set

True

In [8]:
a.issuperset(b) # to check wether it is super set or not

True

In [ ]:
a.isdisjoint(c) # check wether  it is disjoint set or not

difference function or difference operater

In [20]:
print(a.difference(b))
#  also use 
a-b

{1, 5, 6}

{1, 5, 6}

update function to add new element of other set

In [24]:
print(a)
a.update(c) # update function to add new element of other set 
print(a)

{2, 3, 4, 5, 6}
{2, 3, 4, 5, 6, 7, 8, 9}



> Operators for Sets
Sets and frozen sets support the following operators:

OPERATORS	NOTES
key in s	containment check

key not in s	non-containment check

s1 == s2	s1 is equivalent to s2

s1 != s2	s1 is not equivalent to s2

s1 <= s2	s1 is subset of s2

s1 < s2	s1 is proper subset of s2

s1 >= s2	s1 is superset of s2

s1 > s2	s1 is proper superset of s2

s1 | s2	the union of s1 and s2

s1 & s2	the intersection of s1 and s2

s1 – s2	the set of elements in s1 but not s2

s1 ˆ s2	the set of elements in precisely one of s1 or s2

# Quetion 4
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [ ]:
a= input("enter the no ")
a=a.split(',')
a=list(map(lambda b:int(b),a))
a.sort()
i=0
while i<len(a)-1:
    if (a[i+1]-a[i])>1:
        print(a[i+1]-1)
        break
    i=i+1    
else :
    print("complete no " )

enter the no 1,2,5,6,8,9,7,3
4

# Question 5
 
 ## With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [ ]:
import functools
a= input("Enter the no ")
a=a.split(",")
a=set(a)

a=functools.reduce(lambda a,b:a+","+b,a)
print(a)

Enter the no 7,7,72,2,8,8,2,2
2,7,72,8