# Question 1

In [ ]:
a=26+120j
b=37+226j
# multiplication of complex no
print(" multiplication ", a*b)
# divide on complex no
print(" divide ",a/b)
# addition on complex no
print(" addition ",a+b)
# subtraction on complex no
print(" subtraction ",a-b)

0.0 + -1.0
28082.0 + 51009.0
51009.0
 multiplication  (-26158+10316j)
 divide  (0.5354561922013538-0.027381065878539414j)
 addition  (63+346j)
 subtraction  (-11-106j)

# Question 2

## range function
  *  generally range function use in for loop
range function pass three argument in as call 
1.  start
2.  stop
3.  step

Syntax of range function is :
  range (start,stop,step)
  if we give only one argument pass in range function then 
  * it consider as where to stop start & step has default value is start=0 & 
  step=1
 
  range(5) :- it gives value from 0 to 4, not 5 mean the value that we pass in function is not includes in value

  if we pass two argument in range function then
  *  it consider as start and stop value of argument & then step default value as 1

   we  will pass all three argument in range function 
  * Ex:- range(2,11,2)
  here start value is 2
  stop value is 11
  step value is 2
   Note :- all three arugument taken as +ve & -ve value of **int** only except step didn't except 0 as value give value error 

A sequence of numbers is returned by the range() function as itâ€™s object that can be accessed by its index value. Both positive and negative indexing is supported by its object.
if write like this 
range(10)[5]
it will print value : 6

In [ ]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# Question 3

In [ ]:
a=int(input("enter the no"))
b= int(input("enter the another no"))
if (abs(a-b)>25):
    print(a*b)
else :
    print(a/b)

enter the no2
enter the another no29
58

# Question 4

In [ ]:
a=[i for i in range(1,11)]

for i in a:
    if (i%2==0):
        print(i**2-2)

2
14
34
62
98

# Question 5

In [ ]:
a=[i for i in range(1,21)]
print(a)
for i in a:
    if(i>7 and i%2==0):
        print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
8
10
12
14
16
18
20